.footer {
  min-width: 800px;
  position: fixed;
  left: 0px;
  right: 0;
  bottom: 0;
  height: 94px;

  display: flex;
  align-items: center;
  // line-height: 94px;
  // border: 1px solid;
  // box-shadow: 1px 0px 0px 0px #eeedf1, 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  z-index: 5;
  .btn-wrapper {
    margin-right: 10px;
    margin-left: auto;
    button {
      margin-right: 10px;
      & > span {
        font-weight: bold;
      }
    }
    .btn-secondary {
      color: #8365f6;
      border: 1px solid #8365f6;
      background-color: transparent;
      &:hover {
        border-color: #dad1fc;
        background-color: #f3f0fe;
      }
    }
  }
  .el-button {
    padding: 19px 20px;
    border-radius: 29px;
    min-width: 118px;
  }
}
