.ky-drawer {
  #el-drawer__title {
    padding: 16px;
    margin: 0;
    box-sizing: border-box;
    border-bottom: 1px solid #f1f1f5;
    background: linear-gradient(180deg, rgba(225, 221, 255, 0.46), rgba(255, 255, 255, 0));
    box-shadow: 0px 1px 0px 0px #ffffff inset;
    height: 54px;
    font-size: 14px;
    color: $--color-text-primary;
    & > span {
      font-weight: bold;
    }
  }
  .el-drawer__body {
    padding: 16px 20px 20px;
  }
}
