.ky-notify{
  background: url('~@/assets/image/global/dialog-header-bg.png') no-repeat;
  background-position-x: right;
  background-color: #fff;
  padding: 30px 24px 20px;
  .el-notification__title{
    margin-bottom: 15px;
    .el-notification__icon{
      font-size: 18px;
      height: 18px;
      width: 18px;
    }

  }
  .el-notification__group{
    flex: 1;
    margin: 0;
    button{
      margin-top: 16px;
      width: 72px;
      height: 32px;
      background: #8365f6;
      border-radius: 4px;
      color: #fff;
      border: 1px solid;
      float: right;
    }
    p{
      padding-left: 28px;
    }
  }
  .el-icon-close{
    top: 12px;
    right: 16px;
    color: #666666;
  }
}