.toolbar {
  display: flex;
  position: relative;
  z-index: 1;
  justify-content: space-between;

  &.receipt {
    display: block;

    .toolbar-right {
      margin-top: 20px;
    }

    .toolbar-buttons {
      display: block;
      position: absolute;
      right: 0;
      top: -50px;
      width: 145px;
    }
  }

  &.report,
  &.delivery {
    .toolbar-transform {
      &-item:nth-child(n + 5) {
        display: none;
      }
    }
  }

  &-left,
  &-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-right {
    justify-content: flex-end;
  }

  &-buttons {
    display: none;

    .el-button {
      width: 72px;
      height: 32px;
      opacity: 1;
      padding: 0;
      font-size: 12px;
    }

    .image .el-button:nth-child(1),
    .route .el-button:nth-child(2) {
      font-size: 12px;
      color: #fff;
      border: solid 1px #8365f6;
      background-color: #8365f6;
    }
  }

  &-transform {
    display: flex;
    user-select: none;
    color: #8365f6;

    &-item {
      cursor: pointer;
      font-size: 12px;
      margin-right: 16px;

      &-label {
        margin-left: 4px;
      }
    }

    &-audit {
      color: #666;

      .ky-iconfont {
        color: #666 !important;
      }
    }
  }

  &-pagination {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    &-unit {
      font-size: 12px;
      margin-right: 4px;
      user-select: none;

      span {
        color: #333;

        &.unit-diagonal {
          padding: 0 5px;
        }
      }

      .unit-input {
        width: 40px;
        height: 24px;
        padding: 0 4px;
        font-size: 12px;

        /deep/ .el-input__inner {
          height: 100%;
          line-height: 24px;
          padding: 0 8px;
          text-align: center;
        }
      }
    }

    .ky-iconfont {
      cursor: pointer;
    }
  }

  &-filter {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    & > div {
      font-weight: bold;
    }
    label {
      color: #333333;
      font-weight: bold;
    }

    /deep/ .el-input__inner {
      // height: 32px;
      width: 270px;
    }
  }
}

.express-image {
  position: relative;
  margin-top: 25px;

  &-el {
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-left,
  &-right {
    position: absolute;
    left: 0;
    z-index: 1000;
    top: 50%;
    cursor: pointer;
    font-size: 40px;
    transform: translateY(-50%);
    // background-color: rgb(179, 177, 177);
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  &-right {
    left: auto;
    right: 0;
  }

  &-slot {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    height: 100%;
    background: #f5f7fa;
    color: #c0c4cc;
    vertical-align: middle;
  }

  // 回单
  &-receipt {
    width: 388px;
    min-height: 467px;
  }

  // 运单联
  &-report {
    width: 837px;
    min-height: 519px;
  }

  // 签收联
  &-delivery {
    width: 837px;
    min-height: 519px;
  }

  // 复磅照片
  &-receipt {
    width: 388px;
    min-height: 467px;
  }
}

.express-route {
  display: flex;
  // justify-items: center;
  // align-items: center;
  &-map {
    // width: 856px;
    flex: 1.6;
    height: 511px;
    position: relative;
    // flex: 0 0 856px;
    background-color: #dadada;
  }

  &-three {
    flex: 1.5;
    // flex-grow: 2;
    margin-left: 22px;
    // min-height: 511px;
  }

  .route-three-item {
    display: flex;
    font-size: 14px;
    color: #888ea6;

    &.first {
      color: $--color-text-primary;

      .detail-item-icon-unit {
        width: 14px;
        height: 14px;
        top: -2px;

        .ky-iconfont {
          display: inline-block;
        }
      }
    }

    &-label {
      width: 60px;
      flex: 0 0 60px;
      font-weight: 800;

      &.warn {
        color: #ee1d06;
      }
    }

    &-detail {
      flex: 1 1 auto;
    }
  }

  .detail-item {
    min-height: 60px;
    display: flex;
    width: 100%;

    &-desc {
      margin-top: 7px;
      line-height: 20px;
      margin-bottom: 15px;
    }

    &-content {
      flex: 1 1 auto;
    }

    &-icon {
      position: relative;
      width: 40px;
      flex: 0 0 40px;
      top: 2px;

      &::after {
        content: '';
        height: 100%;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        border-left: dashed 1px #d7d7db;
        position: absolute;
      }

      &-unit {
        position: relative;
        z-index: 1000;
        width: 8px;
        height: 8px;
        // width: 14px;
        // height: 14px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background: #d7d7db;
        border-radius: 50%;

        .ky-iconfont {
          display: none;
        }
      }
    }
  }
}

.express-nodata {
  font-size: 14px;
  color: #666666;
  user-select: none;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  .nodata-text {
    font-size: 12px;
    color: #999;
    margin-top: 10px;
  }

  .ky-iconfont {
    font-size: 100px;
  }

  img {
    display: block;
    width: 90px;
    height: 90px;
  }
}

.receipt-feedback {
  /deep/ {
    .el-select {
      width: 100%;
    }

    .el-dialog__body {
      height: 270px;
      padding: 0 !important;
      margin: 0;
    }

    .el-textarea__inner {
      height: 136px !important;
    }

    .el-form--label-top .el-form-item__label {
      padding: 0 !important;
      line-height: 30px;
    }

    .el-button {
      border-radius: 4px !important;
    }

    .el-form-item {
      margin-bottom: 10px;
    }

    .el-dialog__footer {
      border-top: solid 1px;
      padding: 10px 0;
    }

    .el-input__inner {
      height: 30px;
      line-height: 30px;
    }

    .el-textarea .el-input__count {
      height: 0px;
      position: fixed;
      bottom: 80px;
      right: 31px;
    }
  }

  .feedback-select {
    /deep/ .el-input__inner {
      border: none;
      border-radius: 0;
      border-bottom: solid 1px #e9e9e9;
    }
  }
}
