.card-wrapper {
  padding: 0 20px;
  margin-top: 16px;
  border-radius: 12px;
  flex: 40%;
  box-sizing: border-box;
  box-shadow: 0px 6px 20px 0px rgba(29, 26, 33, 0.05);
  background-color: white;
  .caption-info {
    padding: 20px 0 19px;
    border-bottom: 1px solid #f1f1f5;
    display: flex;
    align-items: center;
    .title {
      font-size: 16px;
      font-weight: bold;
    }
    .updatetime-tip {
      padding-left: 12px;
      color: #999999;
      font-weight: 400;
      font-size: 14px;
    }
    .title-detail {
      font-size: 14px;
      color: #999999;
      margin-left: 12px;
    }
    .detail {
      margin-left: auto;
      font-size: 14px;
      color: #8676ff;
      cursor: pointer;
      white-space: nowrap;
    }
  }
  .content {
    padding: 20px 0 30px;
    font-size: 14px;
    .select-wrapper {
      border: 1px solid #e9e9e9;
      border-radius: 19px;
      padding: 0 12px;
      display: inline-block;
      position: relative;
      & > span {
        position: absolute;
        top: 7px;
        z-index: 2;
      }
      /deep/ {
        .el-select {
          width: 172px !important;
          input {
            padding-left: 72px !important;
          }
          .el-input__inner {
            height: 30px;
            border: none;
            border-radius: 19px;
            padding: 0;
          }
          .el-input__suffix {
            .el-select__caret {
              width: 12px;
            }
          }
        }
      }
    }
  }
}

.el-tooltip-report-card-title {
  &.el-tooltip__popper.is-light {
    border: 1px solid #dadce3;
    color: #333333;
    box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05), 0px 6px 16px 0px rgba(0, 0, 0, 0.08), 0px 3px 6px -4px rgba(0, 0, 0, 0.12);
  }
  &.el-tooltip__popper.is-light[x-placement^='bottom'] .popper__arrow {
    border-bottom-color: #dadce3;
  }
  &.el-tooltip__popper.is-light[x-placement^='top'] .popper__arrow {
    border-top-color: #dadce3;
  }
}
