.page-dotinquire {
  padding: 24px 24px 0;
  /* 搜索栏 */
  .search-form {
    .el-form-item {
      margin-right: 12px;
      vertical-align: bottom;
    }
    .el-select {
      width: 100%;
    }
    .el-form-item__label {
      height: 30px;
    }
    input {
      width: 400px;
    }
  }
  .points-box {
    @include scroll-bar;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 999;
    width: 35%;
    height: 503px;
    overflow-y: auto;
    background-color: white;
    .strong {
      font-size: 16px;
      color: #333333;
    }
    &-result {
      font-size: 16px;
      color: #333333;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    &-title {
      background-color: #f5f6f7;
      padding: 0 10px 0 20px;
      font-size: 14px;
      height: 38px;
      color: #666666;
      background: linear-gradient(180deg, #e1ddff, rgba(255, 255, 255, 0));
      border-radius: 4px 4px 0px 0px;
      box-shadow: 0px 1px 0px 0px #ffffff inset;
      border-bottom: 1px solid #f1f1f5;
      > span {
        font-size: 18px;
        color: #333333;
        line-height: 38px;
        font-weight: bold;
      }
    }
    &-item {
      padding-bottom: 21px;
      padding-top: 10px;
      background-color: #fff;
      padding-right: 10px;
      border-bottom: 1px solid #f1f1f5;
    }
    &-name {
      cursor: pointer;
      padding: 0 22px;
      height: 44px;
      line-height: 44px;
      font-size: 14px;
      color: #333333;
      position: relative;
      &:hover {
        background-color: #fefadc;
      }
    }
    &-distance {
      position: absolute;
      right: 22px;
      top: 0;
    }
    &-address {
      padding: 0 22px;
      color: #666666;
      line-height: 20px;
      font-size: 14px;
    }
  }
  .el-icon-location {
    font-size: 18px;
    cursor: pointer;
  }
  .line {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
  }
  .el-form {
    position: relative;
  }
  .el-breadcrumb {
    height: 30px;
    .el-breadcrumb__inner {
      color: #333333;
      line-height: 18px;
      font-size: 18px;
    }
  }
  .map-box {
    display: flex;
    position: relative;
    // border: 1px solid #dadada;
    &-baidu {
      flex: 1;
      height: 503px;
    }
  }
  .ky-grid {
    margin-top: 40px;
  }
  .area-list {
    position: absolute;
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.12);
    width: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    .el-icon-close {
      float: right;
      font-size: 20px;
      cursor: pointer;
      margin-top: 20px;
    }
    &-title {
      height: 60px;
      line-height: 60px;
      font-size: 20px;
      color: #333333;
      padding: 0 40px;
      box-shadow: inset 0 -1px 0 0 #e5e5e5;
    }
    &-content {
      padding: 15px 40px;
      .el-button {
        margin: 8px 16px 8px 0;
      }
    }
  }
  .clearfix:after {
    content: '';
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
  }
  .clearfix {
    zoom: 1;
  }
  .ky-address {
    position: absolute;
    z-index: 10;
  }

  .map-label {
    /*  padding: 10px;
        background-color: rgba(255, 255, 255, 0.9);
        overflow: hidden;
        box-shadow:0px 2px 4px 0px rgba(0,0,0,0.2); */
    &-title {
      font-size: 18px;
      line-height: 18px;
      // height: 50px;
      font-weight: bold;
      background: linear-gradient(180deg, #e1ddff, rgba(255, 255, 255, 0));
      border-radius: 8px 8px 0px 0px;
      box-shadow: 0px 1px 0px 0px #ffffff inset;
      padding: 24px 20px 8px 30px;

      color: #333333;
      i {
        color: #3d1466;
        font-size: 15px;
      }
    }
    &-content {
      color: #666666;
      border: none;
      line-height: 17px;
      margin-top: 8px;
      font-size: 12px;
      span {
        color: #333333;
      }
      li {
        width: 200px;
        margin-top: 3px;
        word-break: break-all;
        word-wrap: break-word;
        white-space: pre-wrap;
        overflow: hidden;
      }
    }
  }
}

.el-popover--map {
  //padding: 0;
}
.location-place {
  position: relative;
  .el-icon-location {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 16px;
    color: rgb(153, 153, 153);
  }
  .el-button {
    width: 208px;
    text-align-last: left;
    color: #606266;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dropdown {
    width: 258px;
  }
  .active {
    background-color: #f1e7f6;
    color: #9041b8;
  }
}
